f-f2 button{
    font-family: 'Pacifico';
}
.roundbut{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: blue;
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: top 0.5s;
}
.roundbut:active{
    top:2px;
}