$text-color: red;
$link-color: color($colors, light) !default;
$toolbar-background: color($colors, dark);
$background-color: color($colors, dark);
$fab-list-button-background-color: color($colors, dark);
$font-family-base: "Fira Code";
$list-wp-background-color: color($colors, dark);